body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #86878b;
    line-height: 1.6;
    margin: 0;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    size: 36px;
    color: black;
}

h3 {
    size: 20px;
    color: black;
}

::-moz-selection {
    background-color: #ff8b38;
    color: #fff;
}

::selection {
    background-color: #ff8b38;
    color: #fff;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/*Logo*/
.logo {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    font-size: 60px;
}

.logo__second-part {
    color: #ff8b38;
}

/* Intro */
.intro {
    background: url(images/intro-bg.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.intro__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.intro__text {
    width: 100%;
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 20px;
}

.intro__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
}

.intro__title:after {
    content: '';
    display: block;
    width: 100%;
    max-width: 67px;
    height: 3px;
    margin-top: 15px;
    background-color: #fff;
}

.intro__subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #fff;
    opacity: 0.8;
    margin: 42px 0;
}

.download__btn {
    width: 100%;
    max-width: 200px;
    font-size: 15px;
    color: #fff;
    border: 3px solid #fff;
    padding: 12px 0;
    text-align: center;
    -webkit-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

.download__btn:hover {
    background-color: #fff;
    color: #ff8b38;
}

.download__btn:active {
    background-color: #ff8b38;
    color: #fff;
}

/* Signup */
.signup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    border-radius: 11px;
    margin: 0 20px;
}

.signup form p:not(:last-child) {
    padding: 0 25px;
}

.signup form p:first-child {
    padding: 20px 30px;
}

.signup__label {
    font-size: 20px;
    color: black;
    background-color: #dad8d8;
    margin: 0;
    text-align: center;
    border-radius: 11px 11px 0 0;
}

.signup__label_highlighted {
    color: #ff8b38;
    text-transform: uppercase;
}

.form__item {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #86878b;
}

.form__item_contacts {
    max-width: 530px;
    border-bottom: 1px solid #bdbdbd;
    margin: 30px 0;
}

.form__item {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #86878b;
    padding: 10px 15px;
    margin: 30px 0;
}

.form__item_contacts {
    color: #bdbdbd;
}

.signup__btn {
    border: none;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 0 0 11px 11px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #ff8b38;
    width: 100%;
    padding: 20px 0;
}

.signup__btn:hover {
    opacity: 1;
}

.signup__btn:active {
    background-color: #333333;
}

/* Brand Bar */
.brand-bar {
    margin: 0 auto;
    padding: 20px 50px;
    border-bottom: 1px solid #86878b;
    -webkit-box-shadow: 1px 1px 3px #86878b;
    box-shadow: 1px 1px 3px #86878b;
}

.brand-bar__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}

.brand-bar__text {
    font-size: 14px;
}

.social-icon {
    font-size: 45px;
    color: #cccccc;
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.social-icon:hover {
    color: #ff8b38;
}

/* Process */
.process__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 25px 1fr 25px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 25px;
    justify-items: center;
    margin: 0 auto;
    padding: 100px 140px;
}

.process__inner div:nth-child(1) {
    grid-column: 1/-1;
}

.process__item {
    text-align: center;
}

.section__title {
    text-transform: uppercase;
}

.section__title-panel {
    color: #fff;
}
.section__title:after {
    content: '';
    display: block;
    width: 100%;
    max-width: 64px;
    height: 3px;
    background-color: #ff8b38;
    margin: 30px auto;
}

.section__title-panel:after {
    background: #fff;
}

.section__subtitle-panel {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0 10px;
}

.process__icon {
    font-size: 75px;
    color: #ff8b38;
}

.icon__title {
    margin: 20px 0;
}

.icon__text {
    font-size: 14px;
}

/* Pricing */
.pricing {
    background-color: #f5f5f5;
}

.pricing__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    justify-items: center;
    margin: 0 auto;
    padding: 100px 150px;
}

.pricing__item {
    text-align: center;
    width: 100%;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    height: 560px;
}

.pricing__item-title {
    grid-column: 1/-1;
    text-align: center;
}

.top-card:hover .top-card-banner {
    display: block;
}

.top-card:hover .card__header {
    padding-bottom: 0;
    border-bottom: none;
}

/* Cards */
.card__header {
    background-color: #333333;
    text-align: center;
    border-bottom: 5px solid #ff8b38;
    width: 100%;
    padding: 10px 0;
}

.card__title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.card__price {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
}

.card__price-number {
    font-size: 94px;
    font-stretch: expanded;
}

.card__subtitle {
    font-size: 14px;
    color: #f5f5f5;
}

.top-card-banner {
    display: none;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ff8b38;
    padding: 5px 0;
}

.card-features {
    background-color: #fff;
    width: 100%;
}

.card-features:last-child {
    border-bottom: none;
}

.card-features__item {
    font-family: 'Roboto', sans-serif;
    color: #86878b;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #f5f5f5;
}

.pricing__item:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* Customers */
.customers__inner {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 100px 1fr 100px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    justify-items: center;
    padding: 110px 20px 100px 20px;
}

.customers__inner div:nth-child(1) {
    grid-column: 1/-1;
    text-align: center;
}

.customer__comment {
    width: 100%;
    max-width: 275px;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    border-radius: 15px;
    font-size: 14px;
    text-align: start;
    padding: 30px 12px;
}

.customer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}

.customer__img {
    display: block;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.customer__img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.customer__text {
    padding-left: 12px;
}

.customer__name {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

.customer__name:hover {
    text-decoration: underline;
}

.customer__work {
    font-size: 14px;
}

/* Customer panel */
.custom-panel {
    background: url(images/custom-panel-bg.jpg) center no-repeat;
    background-size: cover;
}

.custom-panel__inner {
    text-align: center;
    margin: 0 auto;
    padding: 75px 0 60px 0;
}

.custom-panel__btn {
    margin-top: 20px;
}
.download__btn-custom {
    padding: 12px 20px;
}

/* Contacts */
.contacts__inner {
    text-align: center;
    padding: 100px 120px 75px 120px;
}

.contacts__form {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
}

#contact__message {
    resize: none;
    padding-bottom: 16.75px;
}

.contacts__form p:last-child {
    grid-column: 1/-1;
}

.contacts__btn {
    background-color: #ff8b38;
    color: #fff;
    font-size: 15px;
    padding: 12px 28px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    outline: none;
    border: none;
}

.contacts__btn:hover {
    opacity: 1;
}

.contacts__btn:active {
    background-color: #333333;
}

/* Footer */
.footer {
    background-color: #000;
    text-align: center;
}

.footer__inner {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.footer__icon {
    font-size: 25px;
    color: #cccccc;
    margin: 0 10px;
}

.footer__icon:hover {
    color: #ff8b38;
}

.footer__text {
    display: block;
    color: #fff;
    font-size: 12px;
    opacity: 0.5;
    margin-top: 15px;
}

/*MEDIA*/
@media (max-width: 1279px) {
    /* Intro */
    .logo {
        font-size: 50px;
    }

    .intro__title {
        font-size: 32px;
    }

    .intro__subtitle {
        font-size: 14px;
    }

    /* Brand Bar */
    .brand-bar {
        padding: 20px 40px;
    }

    .brand-bar__text {
        font-size: 13px;
    }

    .social-icon {
        font-size: 40px;
    }

    /* Pricing */
    .pricing__inner {
        padding: 50px 20px;
    }

    .card__title {
        font-size: 16px;
    }

    .card__price {
        font-size: 30px;
    }

    .card__price-number {
        font-size: 80px;
    }

    .card__subtitle {
        font-size: 12px;
    }

    .card-features__item {
        font-size: 15px;
    }
}
@media (max-width: 900px) {
    /* Intro */
    .logo {
        font-size: 40px;
    }

    .intro__title {
        font-size: 28px;
    }

    .intro__subtitle {
        font-size: 14px;
    }

    /* Brand Bar */
    .brand-bar {
        padding: 20px 35px;
    }

    .brand-bar__text {
        font-size: 12px;
    }

    .social-icon {
        font-size: 35px;
        margin: 0 5px;
    }

    /* Process */
    .process__inner {
        padding: 50px;
    }

    /* Customers */
    .customers__inner {
        grid-column-gap: 70px;
    }

    .customer__comment {
        font-size: 13px;
    }

    .customer__name {
        font-size: 18px;
    }
}
@media (max-width: 805px) {
    .intro {
        padding: 20px 0;
        height: 100%;
    }

    .intro__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .signup {
        margin-top: 50px;
    }

    .intro__title:after {
        margin: 0 auto;
    }

    .download__btn {
        margin: 0 auto;
    }

    .intro__text {
        text-align: center;
    }

    /* Brand Bar */
    .brand-bar {
        padding: 20px 10px;
    }

    .brand-bar__inner {
        display: block;
        text-align: center;
    }

    .brand-bar__text {
        margin-bottom: 20px;
    }

    .social-icon {
        margin: 0 12px;
    }

    /* Process */
    .process__inner {
        grid-row-gap: 20px;
        -ms-grid-columns: (1fr);
        grid-template-columns: repeat(3, 1fr);
    }

    .process__item:not(:first-child) {
        grid-column: 1/-1;
    }

    .section__title {
        font-size: 25px;
    }

    .section__subtitle {
        font-size: 12px;
    }

    .process__icon {
        font-size: 60px;
    }

    .icon__title {
        font-size: 16px;
    }

    .icon__text {
        font-size: 12px;
    }

    /* Pricing */
    .pricing__inner {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .pricing__item {
        width: 70%;
    }

    /* Customers */
    .customers__inner {
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        padding: 50px 20px;
    }

    .customer__comment {
        font-size: 11px;
        padding: 10px 5px;
    }

    .customer__img {
        width: 50px;
        height: 50px;
    }

    .customer__name {
        font-size: 16px;
    }

    /* Custom Panel */
    .custom-panel__inner {
        padding: 50px 0;
    }

    /* Contacts */
    .contacts__inner {
        padding: 50px 20px;
    }
}
@media (max-width: 480px) {
    /* Intro */
    .intro__title {
        font-size: 26px;
    }

    .intro__title:after {
        margin-top: 25px;
    }

    .intro__subtitle {
        font-size: 12px;
        margin: 25px 0;
    }

    .download__btn {
        font-size: 12px;
        padding: 10px 25px;
    }

    /* Brand Bar */
    .brand-bar {
        padding: 20px 5px;
    }

    .social-icon {
        font-size: 26px;
    }

    /* Process */
    .section__title {
        font-size: 23px;
    }

    .section__title:after {
        margin: 20px auto;
    }

    /* Pricing */
    .card-features__item {
        font-size: 12px;
    }

    /* Customers */
    .customers__inner {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    /* Custom panel */
    .download__btn-custom {
        margin-bottom: 0;
    }

    /* Contacts */
    .contacts__form {
        grid-gap: 0;
    }

    .contacts__form fieldset,
    .contacts__form p:nth-child(2) {
        grid-column: 1/-1;
    }

    .form__item {
        font-size: 12px;
    }

    #contact__message {
        margin-top: 0;
    }

    .form__item_contacts {
        margin: 15px 0;
    }

    /* Footer */
    .footer__icon {
        font-size: 23px;
    }

    .footer__text {
        font-size: 11px;
    }
}
